.imdone
node_modules
npm-debug.log
coverage
dist

public/images/airplane
public/images/singapour
public/images/auckland
public/images/maraetai
public/images/taupo
public/images/kaimanawa
public/images/gollum
public/images/mangahuia
public/images/ruatihi
public/images/wanganui
public/images/feilding
public/images/kapiti-island
