#home
  min-height: 100vh
  background-image: url(/images/home_1920.jpg)
  background-size: 100%
  background-position: center
  .home-wrapper
    padding: 6.5em 3em
    header
      color: #FFFFFF
      background: rgb(49 49 49 / 0.7)
      padding: 3em 5em
      margin-bottom: 5em
      h1
        margin-bottom: 0.5em
      p
        margin-bottom: 3em
    #content
      text-align: right
      a
        text-align: center
        color: #FFFFFF
        font-size: 2em
        text-decoration: none
        padding: 0.25em 0.5em
        border: 0.1em solid #FFFFFF
        display: inline-block
        &:hover
          background-color: rgb(255 255 255 / 0.7)
          color: rgb(49 49 49)
          padding: 0.35em 0.6em
          border: none

@media (max-width: 1280px)
  #home
    background-size: auto 100%

@media (max-width: 980px)
  #home
    .home-wrapper
      padding: 4.5em 2em
      header
        padding: 1.5em 2.5em
        margin-bottom: 5em
      #content
        a
          font-size: 1.5em

@media (max-width: 780px)
  #home
    .home-wrapper
      padding: 3em 2em
      header
        padding: 1.5em 2.5em
        margin-bottom: 5em
      #content
        text-align: center
        a
          font-size: 1.83em
          padding: 0.25em 0.25em
          width: calc(100% - 0.5em - 0.2em)
