.road-controller
  position: absolute
  top: 0
  right: 0
  text-align: end
  z-index: 1
  font-size: 1.75em
  &.loading
    visibility: hidden
  a
    text-align: start
    display: inline-block
    cursor: pointer
    padding: 0.4em 0.65em
    border: 2px solid #000
    background-color: rgb(255 255 255)
    &.disabled
      pointer-events: none
      cursor: default
      border-color: grey
      color: grey
    &.next
      margin: 1em 1em 1em 0
    &.previous
      margin: 1em 0.5em 1em 1em
    &.next i
      padding-left: 1em

@media (max-width: 1366px)
  .road-controller
    font-size: 1em

@media (max-width: 960px)
  .road-controller
    top: auto
    bottom: 0
    width: 100%
    text-align: center
