.icon-wrapper
  padding: 1em
  border: 2px solid #000
  background-color: #fff
  border-radius: 10px
  text-align: center
  .title
    overflow-wrap: break-word
  img
    width: 100px

@media (max-width: 680px)
  .icon-wrapper
    padding: 0.5em 1em
    img
      width: 60px

@media (max-width: 480px)
  .icon-wrapper
    img
      width: 40px

@media (max-width: 680px) and (orientation: landscape)
  .icon-wrapper
    .title
      display: none
