.popin-mobile
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000
  background-color: #fff
  overflow-y: auto
  &.txt
    background-color: #bebcbc
  &.show
    display: block
  .closed-icon
    right: 0
    position: fixed
    cursor: pointer
    margin: 1em
  .text-wrapper
    padding: 4em
    .text-container
      max-height: none
    .ellipsis
      display: none
