.popin-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  overflow: hidden
  opacity: 1
  transition: opacity 1s ease-in-out
  &.loading
    opacity: 0
    visibility: hidden
  & > div
    display: flex
    flex-direction: column
    .popin-container
      height: calc(50% - 14em)
      min-height: calc(50% - 14em)
      display: flex
      padding: 7em 0
      flex-grow: 1
      align-items: center
      &.left
        justify-content: flex-end
      &.right
        justify-content: flex-start
      &.alone
        justify-content: flex-start
        align-items: flex-start
        height: 100%
        & > div
          height: 100%
          & > div
            height: calc(100% - 0.4em - 4px)
      &.one
        height: auto
  #left-container
    align-items: flex-end
    flex: 1
    height: 100%
    & > div
      width: 100%
      display: flex
      height: 100%
      flex-direction: column
  #middle-container
    flex: 1
    height: 100%
    opacity: 0.7
    circle
      fill: transparent
  #right-container
    flex: 1
    height: 100%
    & > div
      width: 100%
      display: flex
      height: 100%
      flex-direction: column
@media (max-width: 1380px)
  .popin-wrapper > div
    .popin-container
      height: calc(50% - 10em)
      min-height: calc(50% - 10em)
      padding: 5em 0
@media (max-width: 980px)
  .popin-wrapper
    #left-container
      display: none
    #right-container
      display: none
    #middle-container
      opacity: 1

.fade-animation-enter
  opacity: 0.01

.fade-animation-enter.fade-animation-enter-active
  opacity: 1
  transition: opacity 1000ms ease-in

.fade-animation-exit
  opacity: 1

.fade-animation-exit.fade-animation-exit-active
  opacity: 0.01
  transition: opacity 500ms ease-in
