.popin
  cursor: pointer
  border: 2px solid rgba(190,188,188,0.7)
  background-color: rgba(256,256,256,0.7)
  display: flex
  padding: 0.2em 0.3em
  visibility: visible
  height: 100%
  &.popin-text
    background-color: rgba(190,188,188,0.7)
    .prin
      padding: 1em
      height: calc(100% - 2em)
      width: calc(100% - 2em)
  &.popin-mixed
    &.doppleganger > div
      min-height: 100%
    &.doppleganger.end > div
      height: auto
      min-height: min-content
  &.full-screen
    visibility: hidden
  &.doppleganger
    cursor: default
    position: absolute
    visibility: hidden
    transition: top 1s ease-in-out, left 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, padding 1s ease-in-out, background-color 1s ease-in-out
    overflow: hidden
    flex-direction: column
    & > div
      display: flex
      min-height: min-content
      &:nth-child(even)
        flex-direction: row
      &:nth-child(odd)
        flex-direction: row-reverse
    i.fa
      font-size: 2em
      cursor: pointer
      position: absolute
      padding: 1em
      right: 0
      opacity: 0
      transition: opacity 1s ease-in-out
      &.fixed
        top: 5%
        right: 17px
        position: fixed
    &.full-screen
      visibility: visible
      top: 5%
      left: 0
      z-index: 10
      &.end
        background-color: rgb(190,188,188)
        width: calc(100% - 4px)
        height: 90%
        padding: 0
        overflow-y: auto
        &.popin-text
          .prin
            width: auto
            height: calc(100% - 10em)
            padding: 5em 20em
            .text-wrapper
              height: auto
              .text-container
                max-height: none
        .prin
          padding: 0
          width: 50%
          .img-wrapper
            max-width: 100%
          .text-wrapper
            padding: 1em
        .secondary
          .img-wrapper
            padding: 0
            max-width: 50%
            &.wide
              max-width: 100%
        i.fa
          opacity: 1
        .secondary > div
          height: auto
@media (max-width: 1280px)
  .popin.doppleganger.full-screen.end
    .prin
      .text-wrapper
        padding: 4em 10em
@media (max-width: 1024px)
  .popin.doppleganger.full-screen.end
    .prin
      .text-wrapper
        padding: 3em 10em
@media (max-width: 980px)
  .popin
    &.doppleganger
      & > div
        &:nth-child(even)
          flex-direction: column
        &:nth-child(odd)
          flex-direction: column
      i.fa
        font-size: 1em
        padding: 0.5em
        &.fixed
          top: 5%
          right: 0
