.secondary
  flex: 1
  display: flex
  justify-content: center
  flex-direction: column
  & > div
    display: flex
    align-items: center

@media (max-width: 980px)
  .secondary > div
    justify-content: center
