.text-wrapper
  height: calc(100% - 4em)
  width: 100%
  padding: 2em 2.5em
  background-color: rgb(190 188 188 / 0.7)
  h2
    padding-bottom: 1em
  p
    padding-bottom: 0.5em
  .text-container
    max-height: 80%
    overflow: hidden
  .ellipsis
    font-size: 2em
    text-align: center
    &.hidden
      visibility: hidden
