.text-wrapper
  height: calc(100% - 4em)
  padding: 2em 2.5em
  transition: padding 1s ease-in-out
  position: relative
  &.full-screen
    height: auto
    padding: 5em 30em
    .date
      margin-right: 28em
    &.mixed
      height: calc(100% - 6em)
      padding: 3em 5em
  &.mixed
    background-color: transparent
  h2
    padding-bottom: 1em
    max-width: 75%
  p
    padding-bottom: 0.5em
  .text-container
    max-height: 80%
    overflow: hidden
    &.full-screen
      overflow: visible
      max-height: auto
  .ellipsis
    font-size: 2em
    text-align: center
    &.hidden
      display: none
  .date
    position: absolute
    right: 0
    margin-right: 2em
    padding-bottom: 0.15em
    border-bottom: 1px solid #000
    transition: margin 1s ease-in-out

@media(max-width: 1366px)
  .text-wrapper
    padding: 1.5em 2em
    .date
      margin-right: 1.5em
    h2
      padding-bottom: 0.5em
    p
      padding-bottom: 0.5em
    &.mixed
      padding-right: 0.5em
      padding-left: 1.5em
    &.full-screen
      padding: 3em 15em
      .date
        margin-right: 13em
