#nav-wrapper
  position: fixed
  top: 0
  left: 0
  margin: 0.5em
  z-index: 1
  transition: width 1s ease-in-out
  width: calc(100% - 1em)
  &.show
    z-index: 100
  nav
    width: 100%
    display: inline-block
    color: #FFFFFF
    height: 0
    #menu
      height: 0
      width: 100%
      white-space: nowrap
      display: inline-block
      #int
        background: transparent
        display: inline-block
        text-align: center
        width: 4.2em
        overflow: hidden
        transition: width 1s ease-in-out, background 1s ease-in-out
        &.show
          background: rgba(49,49,49,0.7)
          width: 100%
        i
          float: left
          font-size: 1.5em
          padding: 0.75em 1em 1em
          &:hover
            cursor: pointer
          &.fa-bars
            color: #000000
        a
          font-size: 1.5em
          display: inline-block
          text-decoration: none
          margin: 0.5em 3em
          color: #FFFFFF
          padding-bottom: 0.25em
          &.selected
            border-bottom: solid 0.07em #0093DE

@media (max-width: 1024px)
  #nav-wrapper
    transition: height 1s ease-in-out, background 1s ease-in-out
    height: 0%
    margin: 0
    padding: 1em
    &.show
      background: rgba(0,0,0,0.7)
      height: 100%
    nav
      #menu
        #int
          width: 2em
          display: block
          &.show
            background: rgba(49,49,49, 0.9)
          i
            padding: 0
            &.fa-times
              padding: 0.35em 0.5em
              float: right
          span
            text-align: center
            display: block
            padding: 2em 3em
            a
              margin: 0
