#about
  padding: 4.5em 3em
  .container
    &:before
      content: ""
      display: inline-block
      height: 100%
    .inner-container
      width: calc(50% - 4em)
      margin: 1em 2em
      display: inline-block
      vertical-align: top
      img
        width: 100%
      &.about-us
        float: left

@media (max-width: 980px)
  #about
    padding: 2.5em 0.5em
    .container
      .inner-container
        width: calc(100% - 4em)
        display: block

@media (max-width: 640px)
  #about
    padding: 0
